.jumbotron {
    padding: 20px 15px;
    background-color: #009587;
    color: #fff;
}
.bc-header {
    color: #009587;
    padding: 10px 0;
    border-bottom: 1px solid #009587;
}
.bc-header h2 small {
    color: #999 !important;
    font-size: 40% !important;
}
.bc-header-ic {
    font-size: 35px;
}
.bc-hi-tbl-w {
    margin-top: 10px;
    margin-bottom: 40px;
}
.bc-size small {
    margin-left: 10px;
}
